@charset "UTF-8";

@media (max-width: 768px){

}

* {
	box-sizing: inherit;
}

body, html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	heigth: 100%;
	font-family:Noto Sans CJK KR;
}

input,button,textarea{
	border:none;
	font-family:Noto Sans CJK KR;
}

div {
	display: block;
}

a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
}

.qna_wrapperBox {
	min-width: 360px;
	max-width: 1024px;
	padding: 10px 16px;
	margin: 0 auto;
}

.qna_category {
	font-weight: 600;
	font-size: 20px;
	line-height: inherit;
	margin: 10px 0 30px;	
}