@charset "UTF-8";

/* 상단버튼 */
.top {
    position:absolute;
    top:20px;
    left:400px;


}

.btn1{
    background-color: #A582CF; 
    cursor:pointer;
    margin-left:100px;
    width:70px;
    height:30px;
    color: #fff;
    border-radius:10px;
  	text-align: center;
	border-color:blue;
}

.body{
	overflow:scroll;
	
}
*{
	font-family:serif;
}


.btn{
	background-color: #deb887;
	cursor:pointer;
	height:50px;
	border-radius:10px;
  	text-align: center;
	
}
.btn:hover{
	background-color:orange;
}
.btn2{
	position:absolute;
	left:1090px;
	top:110px;
	

}
table, th, td { border: 2px solid orange; }
table { border-collapse: collapse; 
		background-color:yellow;}
		
 th {
     text-align: center;
}
 td {
     text-align: center;
}
/*이미지위치  */
.leftimg{
	
	position:absolute;
	top:100px;
	left:20px;
}
.leftimg1{
	position:absolute;
	top:100px;
	left:200px;
}
.rightimg{

	position:absolute;
	top:100px;
	left:1600px;
}
.rightimg1{

	position:absolute;
	top:100px;
	left:1400px;
}

.footer{
	position:absolute;
	left:10px;
	top:850px;
	
}
.footer1{
	position:absolute;
	left: 450px;
	top:850px;
}
.sns{
	position:absolute;
	left: 670px;
	top:850px;
}