@charset "UTF-8";
.main {
	position:absolute;
	top:20px;
	right: 50px;
	
}
.top {
	position:absolute;
	top:20px;
	left:700px;
	margin-left: 100px;
	
}

.button{
		background-color:aqua;
	
}



.body{
	background-color: yellow;
	background-size:100%
	overflow:scroll;
	
}
.sns{
	position:absolute;
	top:1400px;
	left:600px;
	border: 3px solid red;
	padding:10px;
	font-size:30px;
	box-sizing:border-box;
}
.warp {
	position:absolute;
	top:1100px;
	left:1000px;
	

}
.rolling-list{      
	position:absolute;
	top:1100px;
	left:1500px;
	
}


.footer{
	position:absolute;
	top:1500px;
	
}
.footer1{
	position:absolute;
	top:1500px;
	left:500px;
}
.footer2{
	position:absolute;
	top:1500px;
	left:1000px;
	
}

}
