@charset "UTF-8";
*{
	font-family:Roboto Mono;
}

.top {
	position:absolute;
	top:20px;
	left:300px;
	
	 
}
.logo1{
	color:fuchsia;
	font-family:fantasy;
	font-size:30px;
	position:absolute;
	top:20px;
	left:125px;
}
table, th, td { border: solid orange; }

table { border-collapse: collapse; 
		width:750px;
	
		background-color:yellow;}

.list{
	
	margin: 0 auto;
	
	width: 750px;
	
	
}

.list #photo{
	width: 200px;
	height: 200px;
}

.list #reviewContents{
	width: 600px;
	height: 200px;
	
}
/* 리뷰버튼 */
.bt1{
	position:absolute;
	left:1170px;
	top:65px;
	background-color: #A582CF; 
    cursor:pointer;
    color: #fff;
    border-radius:10px;
	border-color:blue;
	margin:70px;
	width:100px;
	height:30px;
}



.bt1:hover {
            border-color: aqua;
            color: white;
            box-shadow: 0 0.5em 0.5em -0.4em yellow;
        }

.bt{
	position:absolute;
	left:1060px;
	top:65px;
	background-color: #A582CF; 
    cursor:pointer;
    color: #fff;
    border-radius:10px;
	border-color:blue;
	margin:70px;
	width:100px;
	height:30px;
}



.bt:hover {
            border-color: aqua;
            color: white;
            box-shadow: 0 0.5em 0.5em -0.4em yellow;
        }
        /* 상단 버튼 */
.btn1{
    background-color: #A582CF; 
    cursor:pointer;
    margin-left:100px;
    width:70px;
    height:30px;
    color: #fff;
    border-radius:10px;
  	text-align: center;
	border-color:blue;
}
.btn1:hover {
            border-color: aqua;
            color: white;
            box-shadow: 0 0.5em 0.5em -0.4em yellow;
        }
