@charset "UTF-8";
table, th, td { border: solid orange; }

table { border-collapse: collapse; 
		width:850px;
		height:400px;
		background-color:yellow;}
	.bt1{
	position:absolute;
	left:500px;
	top:150px;
	background-color: #A582CF; 
    cursor:pointer;
    color: #fff;
    border-radius:10px;
	border-color:blue;
	margin-left:70px;
	width:100px;
	height:30px;
}



.bt1:hover {
            border-color: aqua;
            color: white;
            box-shadow: 0 0.5em 0.5em -0.4em yellow;
        }
	
	
	
	
	
	
	
	
	
	/* -------------------- */	
		.bt2{
	position:absolute;
	left:1170px;
	top:80px;
	background-color: #A582CF; 
    cursor:pointer;
    color: #fff;
    border-radius:10px;
	border-color:blue;
	margin:70px;
	width:100px;
	height:30px;
}



.bt2:hover {
            border-color: aqua;
            color: white;
            box-shadow: 0 0.5em 0.5em -0.4em yellow;
        }
        
        textarea{
        width:600px;
        height:100px;
        }
		