@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    border: none;
}

.headerWrapper{
	background: lightgray;
        height: 215px;

}

.mainWrapper{
	background: #f2f4f7;
	margin: 50px;
	padding: 50px;
}

.footerWraaper{
   background: darkgray;
        height: 310px;
}

.content1{
	margin: 0 auto;
	padding: 10;
	align-content: center;
}

.content1 h2{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-right: 50px;

}

content1 p{
	font-size: 1000px;
}

